body {
    font-family: 'sans-serif', sans-serif;
    color: #676858;
    font-weight: 300;
}

#mainPicture {
  margin: 0 auto;
}

.text-muted {
    color: #BCBBBB;
}
.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}
